*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: sans-serif;
  }

  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
  }

  .cart{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 6px; 
  }

  .cartAmount{
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 20px;
    color: aliceblue;
    background-color: red;
    padding: 3px;
    border-radius: 3px;
  }

  .shop{
    display: grid;
    grid-template-columns:repeat(4 , 254px);
    gap: 30px;
    justify-content: center;
    padding: 50px 10px;
  }

  @media (max-width : 1000px) {
    .shop{
      grid-template-columns:repeat(2 , 254px);
    }
  }

  @media (max-width : 500px) {
    .shop{
      grid-template-columns:repeat(1 , 254px);
    }
  }

  .item{
    border: 2px solid #212529;
    border-radius: 5px;
    box-shadow: 5pm #2f353a;
  }

  .detail{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  .price{
    font-size: 16px;
    padding: 8px;
  }

  .price-qty{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    gap: 8px;
    margin: 5px;
  }

  .pluss{
    color: green;
  }
  .mines{
    color: red;
  }

